h1 {
  text-align: center;
  margin: 20px 0; }

#section-container {
  display: flex;
  justify-content: space-between; }

/* Styles for the new post section */
#new-post {
  min-height: 75%;
  width: 45%;
  padding: 20px;
  margin: 0 auto;
  /* Form styles */
  /* Styles for posts */
  /* Styles for comments */
  /* Styles for comment list */ }
  #new-post form {
    margin-bottom: 10px; }
  #new-post textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; }
  #new-post input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer; }
  #new-post input[type="submit"]:hover {
    background-color: #555; }
  #new-post ul {
    list-style: none; }
  #new-post li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0; }
  #new-post p {
    margin-bottom: 5px; }
  #new-post small {
    color: #777; }
  #new-post .post-comment {
    border-top: 1px dashed #ccc;
    padding-top: 10px;
    margin-top: 10px; }
  #new-post .post-comment input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px; }
  #new-post #post-comment p {
    border-top: 1px dashed #ccc;
    padding-top: 5px;
    margin-top: 5px; }

#friend-list {
  width: 20%;
  background-color: white;
  border-left: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }

/* Styles for the friend list */
#friend-list ul {
  list-style: none;
  padding: 0; }

#friend-list p {
  margin: 5px 0; }

#friend-list a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s; }

#friend-list a:hover {
  color: blue; }
